@tailwind base;
@tailwind components;
@tailwind utilities;

.side-icon {
  @apply h-12 w-auto mx-8 sm:mx-2 my-1 rounded-full p-2 hover:bg-gray-200;
}

.compose-tweet-icons {
  @apply w-10 h-auto twitter-blue p-2 hover:bg-blue-50 rounded-full;
}

.tweet-options {
  @apply w-10 h-auto p-2 rounded-full;
}

.tweet-btn {
  @apply bg-twitter-blue text-white px-3 my-3 rounded-full font-bold mr-3;
}

.tweet-btn-disabled {
  @apply bg-blue-opacity text-white px-3 my-3 rounded-full font-bold mr-3;
}


.blue-hover {
  background-color: #1DA1F2;
  opacity: .5;
}

.bg-twitter-blue {
  background-color: #1DA1F2;
}

.twitter-blue {
  --tw-text-opacity: 1;
  color: #1DA1F2;
}


.bg-blue-opacity {
  background-color: #1DA1F2;
  opacity: .5;
}


svg path {
  stroke-width: 1.5;
}

/* Notifications */
.notification-btn-selected {
  @apply font-semibold w-1/2 h-12 hover:bg-gray-200 flex flex-col items-center justify-between pt-2;
}

.notification-btn {
  @apply  w-1/2 h-12 hover:bg-gray-200 flex flex-col items-center justify-between pt-2 text-gray-500;
}

.tab-line {
  @apply border bg-twitter-blue h-1.5 rounded-full w-12;
}

/* Profile*/

.selected-tweet-filter {
  @apply w-1/4 border-b font-semibold hover:bg-gray-200 flex flex-col justify-between items-center pt-2;
}

.deselected-tweet-filter {
  @apply w-1/4 hover:bg-gray-200 border-b text-center py-2;
}