@tailwind base;
@tailwind components;
@tailwind utilities;

.side-icon {
  @apply h-12 w-auto mx-8 sm:mx-2 rounded-full p-2 hover:bg-gray-200;
}

.lg-side-icon {
  @apply hover:bg-gray-200 flex flex-row items-center md:ml-6 md:pr-4 my-1 rounded-full;
}

.sidebar-text {
  @apply hidden md:flex text-lg;
}

.compose-tweet-icons {
  @apply w-10 h-auto twitter-blue p-2 hover:bg-blue-50 rounded-full;
}

.tweet-options {
  @apply w-10 h-auto p-2 rounded-full;
}

.tweet-btn {
  @apply h-8 bg-twitter-blue text-white px-3 my-3 rounded-full font-bold mr-3 shadow;
}

.tweet-btn-disabled {
  @apply h-8 bg-blue-opacity text-white px-3 my-3 rounded-full font-bold mr-3;
}

.r-bar-article {
  @apply p-2 w-full;
}

.welcome-background {
  background-image: linear-gradient(to bottom right, #ffffff, #1da1f2);
}


.blue-hover {
  background-color: #1DA1F2;
  opacity: .5;
}

.bg-twitter-blue {
  background-color: #1DA1F2;
}

.twitter-blue {
  --tw-text-opacity: 1;
  color: #1DA1F2;
}


.bg-blue-opacity {
  background-color: #1DA1F2;
  opacity: .5;
}


svg path {
  stroke-width: 1.5;
}

.side-bar {
  @apply self-end fixed flex flex-row sm:flex-col sm:mt-0 ml-0 w-full 
  sm:w-24 md:w-60 sm:h-screen border-t sm:border-t-0 sm:border-r 
  border-gray-200 md:items-start justify-center sm:justify-start items-center bg-white;
}

/* Home */
.home-header {
  @apply border-b border-gray-200 h-14 flex flex-row justify-between;
}

.h2 {
  @apply text-xl font-semibold;
}

/* Notifications */
.notification-btn-selected {
  @apply font-semibold w-1/2 h-12 hover:bg-gray-200 flex flex-col items-center justify-between pt-2;
}

.notification-btn {
  @apply  w-1/2 h-12 hover:bg-gray-200 flex flex-col items-center justify-between pt-2 text-gray-500;
}

.tab-line {
  @apply border bg-twitter-blue h-1.5 rounded-full w-12;
}

/* Profile*/

.selected-tweet-filter {
  @apply w-1/2 border-b font-semibold hover:bg-gray-200 flex flex-col justify-between items-center pt-2;
}

.deselected-tweet-filter {
  @apply w-1/2 hover:bg-gray-200 border-b text-center py-2;
}

.follow-btn {
  @apply font-bold bg-black text-white rounded-full py-2 px-4 my-8 mr-8;
}

.unfollow-btn {
  @apply font-bold border border-gray-300 rounded-full py-2 px-4 my-8 mr-8;
}

textarea {
  resize: none
}